.cabecalho {
  width: 100%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  position: sticky;

  padding-top: 0rem;
  padding-bottom: 0rem;
  cursor: pointer;
  font-family: var(--montserrat);
}

.img {
  display: flex;
  flex-direction: column;
  padding-top: 0rem;
  padding-bottom: 0rem;
  position: flex;
  object-fit: cover;
}
/*.img .produtos{
  
  
  filter: grayscale(100%);
  transition: 0.3s;
  
  
}
.img .produtos:cursor: pointer;hover{
  filter: grayscale(0);
}
*/

.cabecalho__link {
  font-size: 1.4rem;
  display: inline-block;
  margin-right: 0rem;
  margin-bottom: 1.5rem;
  margin-left: 3.2rem;
  margin-top: 1.5rem;
  color: #800000;
  z-index: 99;
  padding-right: 1rem;
  font-family: var(--montserrat);
}

.cabecalho__link:hover {
  color: #008037;
}

.produtos {
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .cabecalho {
    flex-direction: row;
    justify-content: space-between;
    border: none;
  }
}
