.planos {
  background-color: var(--branco);
  padding-top: 5rem;
  padding-bottom: 3rem;

  font-family: var(--montserrat);

  margin: 0.3% 0.3%;

  box-sizing: border-box;
}

.planos__cartoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartao {
  display: flex;
  flex-direction: column;

  background-color: var(--branco);

  width: 100%;
  max-width: 600px;

  margin-bottom: 2rem;
  font-family: var(--montserrat);
}

.cartao__titulo {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  font-family: var(--montserrat);
  padding: 0.75rem 0;

  margin-bottom: 0.5rem;
  color: black;
}

.cartao__plano {
  color: var(--fonte-cinza); 
  font-size: 18px;
  font-weight: 600;
  text-align:center;
 
  font-family: var(--montserrat);
  width: 325px;
  height: 350px;
  display: grid;
  margin: 10px;
  padding: 0.75rem 0;

  margin-bottom: 0.5rem;
}

.cartao__preco {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: black;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-family: var(--montserrat);
}

.cartao__texto {
  color: black;
  line-height: 28px;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--montserrat);
}

@media screen and (min-width: 768px) {
  .cartao {
    max-width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .planos__cartoes {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
 
 
}
